/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,700;1,900&display=swap');

.barlow {
    font-family: 'Barlow', sans-serif;
}

.fs-small {
    font-size: small;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}

/* CENTRALIZAR CONTEUDO E COLOCAR EM FLEX */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

header {
    background-image: url(../assets/background.jpg);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    padding-top: 4%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 4%;
    justify-content: space-between;
}

.button-header {
    cursor: pointer;
}

.logo {
    margin-top:;
    width: 50%;
    height: auto;
    margin-bottom: 15px;
}

.headline {
    font-size: 20.55px !important;
    font-weight: 700;
    text-align: center;
}

.sub-headline {
    font-size: larger !important;
    text-align: center;
}

#manchetes-container div {
    width: 100%;
    height: auto;
    border: 1px solid white;
}

#manchetes-container img {
    width: 100%;
}

.sessao3 {
    background-image: url(../assets/background.jpg);
    background-repeat: no-repeat;
}

.gradientLine {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.47942927170868344) 12%, rgba(194, 18, 47, 1) 50%, rgba(0, 0, 0, 0.5018382352941176) 88%, rgba(0, 0, 0, 0) 100%);
    width: 100%;
    height: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.thin-border {
    border: 0.5 solid white;
}

strong {
    color: #dc3545;
}

.section4 {
    background-color: #b1001d;
}

.teste {
    width: 250px;
    height: 250px;
    background-color: grey;
    max-width: 150px;
}

#access-bonus {
    background-image: url(../assets/background.jpg);
    background-repeat: no-repeat;
    height: auto;
}

.carousel-indicators {
    bottom: -15px !important;
}

.carrossel-item-custom-height {
    height: 150px;
    vertical-align: middle;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards img {
 width: 25%;
}

.bonus-card {
    border: 1.5px solid #dc3545;
    margin: 20px 0px;
    border-radius: 14px;
    padding: 15px;
}

#bonus-section {
    background-color: black;
}

.time-container {
    border-radius: 20px;
    border: 2px solid #dc3545;
}

.garantia-img {
    display: flex;
    justify-content: center;
}

.garantia-img img {
    width: 350px;
    display: flex;
    align-self: center;
}

.footer, .footer-bottom-container {
    background-color: black !important;
    color: white;
}

@keyframes buttonPulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 13px 1px rgba(0, 0, 0, .72)
    }

    50% {
        transform: scale(1.05);
        box-shadow: 0 0 13px 6px rgba(0, 0, 0, .72)
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 13px 1px rgba(0, 0, 0, .72)
    }
}

.pulse {
    animation: buttonPulse 1s ease infinite;

    .pulse:hover {
        cursor: pointer;
        animation-play-state: paused
    }